.light-grey-background {

    background-color: #5a6268;
    width:50%;

}
.probaClass{
    background-color: #1d68a7;
}


.user_name{
    color:gray;
    font-weight: bold;
    font-style: italic;
    height: 25px;
    width:60px;
}

.komentar-box{
    background: yellow;
}

.tekst_komentara{
    background-color: #123c24;
    opacity: 50%;
    width:340px;
    border-color: #123c24;
    color:white;
}


.dugme {

    border-radius: 3rem;
    color: #84deb4;
    background-color: #123c24;

}
.dugmeAdminNalog{

    border-radius: 3rem;
    color:white;
    background-color:#02150f;
}

