*{
    font-family: "Bradley Hand ITC", serif;
    font-size: 20px;
    font-weight: 700;
}

body{
    background-color: #616161;
    width: 100% !important;
}


.myHeader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: linear-gradient(0deg, #1c1c1c 0%, #84deb4 200%);

    height: auto;
}

.spaceFromHeader{
    margin-top: 100px;
    width: 98%;
}

.myHeader::after{
    content: '';
    display: table;
    clear: both;
}


section{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #1c1c1c;
    overflow-y: auto;
}

hr{
    border: 1px solid darkgray;
    margin: 0;
    padding: 0;
}

.header_input_text{
    margin: 12px 30px;
    padding: 0 10px;
    display: inline;
    width: 15%;
    height: calc(1em + .75rem + 2px);
    border-radius: 3rem;
    border: 1px solid darkgray;

}


.noPadding{
    padding: 0 !important;
    width: 100% !important;
}


.noMargin{
    margin: 0;
}

.gray_button{
    color: #84deb4;
    margin: 12px 30px;
    padding: 0 10px;
    display: inline;
    width: 10%;
    height: calc(1em + .75rem + 2px);
    border-radius: 3rem;
    font-weight: 700;
}

.gray_button:hover{
    color: #84deb4;
}

.form_gray_button{
    height: calc(1.5em + .75rem + 2px);
    border-radius: 3rem;
    font-weight: 700;
    color: #1c1c1c;
    background-color: #5f8b74;
}

.form_gray_button:hover{
    color: #000000;
    background-color: #567867;
}

.form_gray_button:focus{
    color: #000000;
    background-color: #567867;
}

.form_input_text{
    display: inline;
    height: calc(1.5em + .5rem);
    border-radius: 3rem;
    border: 1px solid darkgray;
}

.form_label_text{
    font-size: 26px;
    font-weight: 900;
    padding: 0;
    text-align:right;
    color: #84deb4;
}

.form_checkbox{
    float: right;
    margin-top: 10px;
    transform: scale(1.5);
}

.padding_form_picture{
    padding: 40px 0px 40px 40px;
}

footer{
    position: absolute;
    right: 5px;
    bottom: 15px;
}

.dark_background{
    background-color: rgb(36, 36, 36);
}

.keep_it_low{
    position: absolute;
    bottom: -1%;
}

.red{
    padding-left: 15px;
    padding-right: 15px;
}

.pretraga{
    padding: 0px;
}

.pretraga img{
    padding-left: 15px !important;
    padding-bottom: 15px;
    height: 370px;
    width: 100%;
}

.padding-top{
    padding-top: 20px;
}

.padding-top button{
    margin-top: 10px;
}

.bottom{
    position: absolute;
    bottom: 0%;
    width: 90%;
}

.load_file{
    bottom: -5%;
    color: #1c1c1c;
    background-color: #5f8b74;
    border-radius: 3rem;
    border: 1px solid #567867;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 34%;
    height: calc(1.5em + .75rem + 2px);
}

.load_file:hover{
    color: #000000;
    background-color: #567867;
}

.load_file:focus{
    color: #000000;
    background-color: #567867;
}

#uploaded_image{
    max-height: 450px;
}

small{
    height: 30px;
    display: block;
    color: #567867;
    text-align: center;
    font-weight: bold;
}
